* {
  font-family: 'Fira code', sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(10, 17, 28, 1);
  box-sizing: border-box;
}

.claro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 34, 49, 1);
  color: #ffffff;
  border-radius: 30px;
  margin: 30px;
}

input {
	background-color: #101826;
  font-size: 1.5rem;
	color: #05FF00;
  padding: 20px;
	border-style: none;
  border-radius: 50px;
  margin: 15px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.btn:hover {
  background-color: #00EF18;
  font-size: 1.3rem;
  width: 200px;
  height: 60px;
  cursor:pointer;
  border: none;
  border-radius: 30px;
  margin: 30px;
}

.btn {
  background-color:rgba(25, 34, 49, 1);
  color: #ffffff;
  border-color: #00EF18;
  font-size: 1.3rem;
  width: 200px;
  height: 60px;
  cursor:pointer;
  border-radius: 30px;
  margin: 30px;
  font-weight:lighter;
}

.txt {
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  /* margin: 30px; */
  /* margin-top: 70px; */
}

.claro p {
  font-size: 20px;
  font-style: italic;
  /* margin: 10px; */
}

.parr {
  display: flex;
  align-items: center;
  margin: 20px;
}

.parr p {
  font-size: 15px;
  font-style: normal;
  text-align: center;
}
.parr a {
    text-decoration: none;
    color: #05ff00;
}

#element {
  font-size: 1.5rem;
  margin: 30px;
  color: #ffffff;
  text-align: center;
  overflow-wrap: break-word;
}

#err {
  display: none;
  background: #f54242;
  border: 1px solid #bd1717;
  padding: 5px;
  margin: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

@media (max-width:700px) {
  input {
    font-size: 1rem;
  }
}
